<h1>Welcome to the Post Page</h1>

<% @posts.each do |post| %>
  <div>
    <% unless @current_user.nil? %>
      <h2> <%= post.user.name %> </h2>
    <% end %>
    <h2> <%= post.title %> </h2>
    <p> <%= post.body %> </p>
  </div>
<% end %>
